h1 {
  color: rgb(0, 0, 0);
}

div {
  background-color: rgb(241, 255, 50);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(251, 251, 252);
}

li {
  float: left;
}

li a {
  display: #f3f3f6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(253, 253, 253);
  color: yellow;
}

h2
{
  color: rgb(0, 0, 0);
}